@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #C5C5D2;
  color: black;

}

.header {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.inputField {
  padding-left: 16px;
  font-size: 14px;
  width: 260px;
  height: 42px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 3pt 2pt black;
  

}

@media (max-width: 520px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}

h1.brand {
  padding-bottom: 16px;

  pointer-events: none;



}


.coinsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  
}